In [1]:
import pandas as pd

In [2]:
tf_idf_01 = pd.read_excel("TF-IDF_normalisasi_01.xlsx")

In [3]:
target = pd.read_excel("analisis hapus.xlsx")

In [4]:
print(target)

      Column1                                              Tweet  \
0         0.0   terima kasih seluruh rakyat hak suara baik ba...
1         1.0   hak pilih bagai warga negara indonesia bagaim...
2         2.0                           selamat pilih indonesia
3         3.0   aku penuh panggil allah aku penuh panggil sek...
4         4.0   salam sri baginda raja salman seluruh rakyat ...
...       ...                                                ...
1560   1560.0                                       terimakasih
1561   1561.0            selamat tahun baru mula amin indonesia
1562   1562.0   sama benam matahari terbit fajar ayun langkah...
1563   1563.0                               tuju indonesia maju
1564      NaN                                                NaN

      target_outlier     density
0                1.0  841.000000
1                1.0  555.000000
2                1.0  416.000000
3               -1.0  182.000000
4                1.0  705.000000
...              ...         ...
1560            -1.0    7.000000
1561             1.0  689.000000
1562             1.0  372.000000
1563             1.0  421.000000
1564             NaN  488.326087

[1565 rows x 4 columns]

In [5]:
tf_idf_01['outlier'] = target.target_outlier

In [6]:
tf_idf_01_clean = tf_idf_01[tf_idf_01.outlier != -1]

In [8]:
print(tf_idf_01_clean)

      aam  aamiin  abad  abadi  abah  abai  abang  abd  abdan  abdi  ...  \
0     0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
1     0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
2     0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
4     0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
6     0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
...   ...     ...   ...    ...   ...   ...    ...  ...    ...   ...  ...
1558  0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
1559  0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
1561  0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
1562  0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...
1563  0.0     0.0   0.0    0.0   0.0   0.0    0.0  0.0    0.0   0.0  ...

      zhongzheng  ziarah  zikir  zina  zona  zubair  zuhri  zuhur  zulkifli  \
0            0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
1            0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
2            0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
4            0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
6            0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
...          ...     ...    ...   ...   ...     ...    ...    ...       ...
1558         0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
1559         0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
1561         0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
1562         0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0
1563         0.0     0.0    0.0   0.0   0.0     0.0    0.0    0.0       0.0

      outlier
0         1.0
1         1.0
2         1.0
4         1.0
6         1.0
...       ...
1558      1.0
1559      1.0
1561      1.0
1562      1.0
1563      1.0

[1485 rows x 4160 columns]

In [10]:
tf_idf_01_clean = tf_idf_01_clean.drop(columns = "outlier")

In [11]:
index_centroid = [455]
distance_centroid = [0]

In [12]:
import math

for centroid_ke in range(2,21):
    tmp_index = -1
    tmp_value = -1
    for tmp_index_of_xi in tf_idf_01_clean.index:
        tmp_value_of_xi = 1000000000
        
#         search minimum distance of Collection
        for tmp_index_centroid in index_centroid:
            distance =  math.sqrt(sum([(a - b) ** 2 for a, b in zip(tf_idf_01_clean.loc[tmp_index_of_xi][:], tf_idf_01_clean.loc[tmp_index_centroid][:])]))
            if  tmp_value_of_xi > distance:
                tmp_value_of_xi = distance
#         sarch maximum distance 
        if tmp_value < tmp_value_of_xi:
            tmp_value = tmp_value_of_xi
            tmp_index = tmp_index_of_xi
    print(tmp_index)
    index_centroid.append(tmp_index) 
    distance_centroid.append(tmp_value)

278
22
32
109
116
240
269
1047
24
92
1522
1558
559
233
1212
286
965
199
1456

In [13]:
index_centroid_df = pd.DataFrame(index_centroid)
index_centroid_df.to_excel("index_inisiate_centroid.xlsx")

In [14]:
distance_centroid_df = pd.DataFrame(distance_centroid)
distance_centroid_df.to_excel("distance_inisiatecentroid.xlsx")